/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap");

/* utilities  */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

.color-Blueberry {
  color: #5d5fef;
}

.color-Gray52 {
  color: #858585;
}

.bg-color-Blueberry {
  background-color: #5d5fef;
}

/* NavBar  */

.navbar-item:active,
.navbar-item:hover {
  color: #5d5fef;
}
